.competition-page{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.ucl-background{
  background-image: url('../UCLBackground.jpg');
}

.uel-background{
  background-image: url('../UELBackground.jpeg');
}

.uecl-background{
  background-image: url('../UECLBackground.jpg');
}



