.subtitle-div-league {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border-bottom: 1px solid white;
  
}

.league-logo {
  width: 55px;
  height: 55px;
  object-fit: contain;
}

.league-logo-wrapper {
  position: absolute;
  width: 55px;
  display: flex;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  padding: 3px;
  border-radius: 5px;
}

.subtitle-div-league.left .league-logo-wrapper {
  right: 0;
}

.subtitle-div-league.right .league-logo-wrapper {
  left: 0;
}

.kickoff-subtitle-wrapper{
  width: 250px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-wrapper-left{
  padding-right: 10px;
}

.arrow-wrapper-right{
  padding-left: 10px;
}

.arrow-wrapper-left, .arrow-wrapper-right{
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-wrapper-left:hover, .arrow-wrapper-right:hover{
  opacity: 0.5;
  cursor: pointer;
}

.arrow-wrapper-left:active, .arrow-wrapper-right:active{
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  background-color: rgb(76, 76, 76);
}
