.loading-spinner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 225px;
  z-index: 1000;
}

.loading-spinner{
  display: block;
  width: 15%; 
  height: 15%;
  object-fit: contain;
  animation: spin 0.7s linear infinite;
 
}

@keyframes loading-spinner{
  from{
   transform: rotate(0deg);
  } 
  to{
   transform: rotate(360deg);
  }
}

