.subtitle-div-competition {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border-bottom: 1px solid white;
  filter: brightness(0) invert(1);
  padding-left: 10px;
}

.competition-logo {
  width: 55px;
  height: 55px;
  object-fit: contain;
}

.competition-logo-wrapper {
  position: absolute;
  width: 55px;
  display: flex;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

.subtitle-div-competition.left .competition-logo-wrapper {
  right: 0;
}

.subtitle-div-competition.right .competition-logo-wrapper {
  left: 0;
}